# Environment variables
.env

# macOS system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints
